language: node_js
node_js:
  - '10'
sudo: false
install:
  - yarn
  - npm install -g codecov surge
script:
  - commitlint-travis
  - yarn lint
  - yarn build
  - yarn test && codecov
after_success:
  - chmod ugo+x ./deploy.sh
  - ./deploy.sh
