.elasped-time div {
  padding: 5px;
}

.elasped-time .title {
  font-size: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.elasped-time .time {
  font-size: 0.6em;
  height: 15px;
}
