.basic-numeric {
  font-size: 18px;
  width: 100%;
  height: 100%;
  color: black;
  background-color: #f4ac3d;
  border-radius: 10px;
}

.basic-numeric .name {
  width: 60%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 1em;
  padding: 5px;
  box-sizing: border-box;
}

.basic-numeric .value-unit {
  width: 40%;
  height: 100%;
  float: right;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 2em;
  word-wrap: break-word;
  font-weight: 500;
  overflow: hidden;
}

.basic-numeric .value-unit .unit {
  display: inline-block;
  font-size: 0.6em;
}
