label {
  display: block;
}

.title {
  font-size: 1.2em;
  color: #ffffff;
  padding: 10px 0px 10px 10px;
  text-align: left;
}

.time {
  font-size: 0.8em;
  color: #ffffff;
  padding: 0px 0px 10px 10px;
  text-align: left;
}
