.circular-progress {
  font-size: 18px;
  width: 100%;
  height: 100%;
  background-color: #6b30f7;
  color: #ffffff;
  border-radius: 10px;
}

.circular-progress .progress-circle {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.circular-progress .inner {
  padding: 5px;
}
