.card {
  /* padding: 2px 16px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  background-color: #6b30f7;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* .container {
  padding: 2px 16px;
} */

.progress-circle {
  padding-top: 5%;
  width: 100%;
  text-align: center;
  /* padding-top: 120px;
  padding-bottom: 20px; */
}

#inner {
  display: inline-block;
}
