.fields .textField {
  margin-right: 20px;
  width: 100%;
}

.fields .error_msg {
  margin-top: 20px;
}

.fields .validation_msg {
  font-size: 0.8em;
  color: red;
  padding-top: 10px;
  padding-left: 10px;
}
