.show-field {
  font-size: 16px;
}
.show-field span {
  display: block;
}

.show-field .field {
  padding-top: 5vh;
  font-size: 1em;
  color: #9297b6;
  padding: 2vh 0vh 1vh 1vh;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.show-field .value {
  font-size: 1.5em;
  color: #ffffff;
  padding: 0vh 0vh 1vh 1vh;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
