.block_container {
  font-size: 15px;
  padding: 0px 0px 10px 0px;
  border: 1px solid #000000;
  background-color: #282d5a;
  display: table;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
}
.block_container .inline {
  display: table-cell;
  vertical-align: middle;
  display: inline-block;
  padding-left: 20px;
  color: #000;
}
.block_container .MuiInputBase-input:invalid {
  box-shadow: none;
  border-bottom: 2px solid white;
}

.block_container .MuiInputLabel-animated {
  color: white !important;
}

.block_container .MuiButton-containedPrimary {
  color: #fff;
  background-color: #444b77;
  margin-top: 15px;
  margin-right: 15px;
}
