.AlarmConfig {
  margin: 0 5px;
}

.AlarmConfig .Config-button {
  color: #ffffff;
}

.AlarmConfig-Modal .AlarmConfig-Column {
  padding: 10px;
  border-radius: 10px;
  background-color: #3a4177;
  overflow-y: auto;
}

.AlarmConfig-Modal .MuiDialogContent-root {
  padding: 30px 10px 10px;
}

.AlarmConfig-Modal .MuiDialogActions-root button {
  color: #ffffff;
  background-color: #394177;
}

.AlarmConfig-Modal .MuiDialogActions-root button:hover {
  background-color: #3f51b5;
}

.AlarmConfig-Modal .MuiFormControl-root {
  width: 100%;
  margin-bottom: 20px;
}

.AlarmConfig-Modal .MuiInputBase-root {
  background-color: #3a4177;
  color: #ffffff;
}

.AlarmConfig-Modal .MuiFormLabel-root {
  color: #8a8a98;
}

.AlarmConfig-Modal .MuiFormLabel-root.Mui-focused {
  color: #8a8a98;
}

.AlarmConfig-Modal .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #8a8a98;
}

.AlarmConfig-Modal
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #8a8a98;
}
