.event_config {
  margin: 10px;
}

.event_config .textField {
  margin-right: 20px;
  width: 100%;
}

.event_config .switch {
  margin-left: 0px;
}

.event_config .proceed {
  margin-top: 20px;
}

.event_config .error_msg {
  margin-top: 20px;
}

.event_config .reset {
  display: inline-block;
  margin-right: 20px;
}

.event_config .validation_msg {
  font-size: 0.8em;
  color: red;
  padding-top: 10px;
  padding-left: 10px;
}
.event_config .paperbox {
  padding: 30px;
  border-radius: 10px;
}

.event_config .event_details_disabled {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #3a4177;
  border-radius: 10px;
}
