.MachineSelector .MuiInputBase-input {
  border-bottom: none !important;
  background: #242952;
  padding: 12px;
  color: #f8f8fa;
}

.MachineSelector .MuiFormLabel-root {
  color: #9297b6;
}

.MachineSelector .MuiFormLabel-root.Mui-focused {
  color: #9297b6;
}

.MachineSelector .MuiFormControl-root {
  min-width: 250px;
  margin-top: 8px;
}

.MachineSelector
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #9297b6;
  border-width: 1px;
}
