.basic-string {
  font-size: 18px;
  width: 100%;
  height: 100%;
  background-color: #f4ac3d;
  color: black;
  border-radius: 10px;
}

.basic-string div {
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.basic-string .name {
  font-size: 1em;
}

.basic-string .time {
  font-size: 0.8em;
}

.basic-string .value {
  font-size: 1.5em;
  font-weight: 500;
}
