.Login {
  text-align: center;
}

.Login button {
  background: #fe5433;
  border-color: #fe5433;
  color: white;
  width: 150px;
  height: 30px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 900;
  margin-top: 20px;
  cursor: pointer;
}
