.TopBar .MuiToolbar-gutters {
  padding-left: 12px;
}

.Notification-icon {
  margin-right: 20px !important;
  padding: 0 !important;
}

.User-icon {
  margin-right: 5px !important;
  padding: 0 !important;
}

.User-icon .MuiSvgIcon-root {
  width: 40px;
  height: 40px;
  align-items: center;
}

.Right-iconHolder {
  align-items: center;
}
.Right-iconHolder p {
  font-size: 16px;
}
